body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Myriad Pro;
}

.sideBar {
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 15%;
  background-color: #1c2237;
  height: 100%;
  -webkit-box-shadow: 0px 2px 2px 0.5px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 0px 2px 2px 0.5px rgba(0, 0, 0, 0.62);
  box-shadow: 0px 2px 2px 0.5px rgba(0, 0, 0, 0.62);
}

.listThreads {
  box-sizing: border-box;
  overflow-y: auto;
  position: fixed;
  margin-left: 15%;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  background-color: #1f2740;
  -webkit-box-shadow: 0px 2px 2px 0.5px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 0px 2px 2px 0.5px rgba(0, 0, 0, 0.62);
  box-shadow: 0px 2px 2px 0.5px rgba(0, 0, 0, 0.62);
}

.threadVieawer {
  position: fixed;
  margin-left: 45%;
  top: 0;
  left: 0;
  height: 100%;
  width: 55%;
  background-color: #ffffff;
  padding: 30px 5%;
  box-sizing: border-box;
  overflow-y: auto;
}

.newmailContainer {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.sidebarul {
  padding: 5px 0;
  width: 100%;
  text-decoration: none;
  text-align: center;
}

.sidebarul li {
  color: #5e6781;
  display: flex;
  width: 100%;
  list-style: none;
  align-items: center;
  padding: 10px 0;
  transition: all 0.2s;
  cursor: pointer;
}

.sidebarul li:hover {
  color: #ffffff;
}

.useranddate {
  display: flex;
  justify-content: space-between;
}

.threadmessage {
  padding: 15px 30px;
  transition: all 0.2s;
  cursor: pointer;
  background-color: #212943;
}
.threadmessage:nth-child(2n) {
  background-color: #1f2740;
}

.threadmessage h3 {
  color: #ffffff;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  letter-spacing: 0.05em;
  width: 70%;
}
.useranddate {
  padding: 12px 0 0 0;
}
.threadmessage p {
  margin: 0;
  color: #6d7793;
  font-size: 14px;
}

.threadmessage:hover {
  background-color: #2b334e;
}

.plsselectthread {
  color: #a5acc1;
  display: flex;
  justify-content: center;
  position: fixed;
  padding-top: 15%;
  margin-left: 45%;
  top: 0;
  left: 0;
  height: 100%;
  width: 55%;
  background-color: #ffffff;
}
.plsselectthread div {
  text-align: center;
  font-size: 25px;
}

.selectedThreadMessage {
  border-left: 4px solid #fecb2f;
}

.mailheader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid #1f2740;
}

.messageheader p {
  margin: 0;
}

.messageheader {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.messagecontent {
  color: #838eab;
  font-size: 15px;
}

.separationLine {
  width: 100%;
  text-align: center;
  border-bottom: 0.1px solid #838eab;
  line-height: 0.1em;
  margin: 10px 0 20px;
  color: #838eab;
  font-size: 12px;
  font-weight: 300;
}

.separationLine span {
  background: #fff;
  padding: 0 10px;
}

.msg {
  margin-bottom: 30px;
}

.messagefield {
  background-color: #f0f3f9;
}

.attachandreplay {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.drawer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 55%;
  height: 300px;
  background-color: white;
  z-index: 22;
}

.newThreadHeader {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 50px;
  background-color: #212943;
}
.newThreadHeader p {
  color: white;
  margin: 0;
  padding: 10px 25px;
}

.newthreadform {
  padding: 20px;
}

.vuicon {
  color: #fecb2f;
  font-size: 10px !important;
}

.threadtitle-vu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.threadtitle-vu h3 {
  width: 70%;
}

.bolt {
  color: white !important;
}
